@import '../css/config.less';
/* pages/Calendar/Calendar.wxss */
/* 打卡日历 */
.all{
  background:@defaultColor;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  padding:20px 12PX 60px;
  .day-title{
    width:100%;
    margin:0 auto;
    color:#fff;
  }
  .signin_info{
    position: absolute;
    top:calc(100% - 30px);
    left:5%;
    width:90%;
    height:300px;
    background:#fff;
    border-radius: 20px;
  }
}

.day-list{
  background-color: #fff;
  border-radius: 20px;

  width:100%;
  margin:0 auto;
  margin-top: 10px;
}


.day-list{
  .week{
    display: flex;
    flex-wrap: wrap;  
    // flex-direction: row;
    // justify-content: space-between;
    .flex-item {    
      width: 14.2%;  
      .item-content {  
        margin: 5px;  
        padding: 0 10px;  
        text-align: center;  
        height: 2rem;  
        line-height: 2rem;
      }  
    } 
  }
  
}

.day-list{
  .days{
    display: flex;
    flex-wrap: wrap;  
    // flex-direction: row;
    // justify-content: space-between;
    .flex-item {    
      width: 14.2%;
      border-radius: 50%;  
      .item-content {  
        margin: 5px;  
        padding: 0 15px;  
        text-align: center;  
        // background-color: #000;
        height: 2rem;  
        line-height: 2rem;  
      }  
      .grey{
        color:#ccc;
      }
      .nowbg{
        padding: 0; 
        width: 2rem;
        border-radius: 50%;
        background:rgb(77, 194, 130);
      }

    } 
    
  }
  
}


