

.model{
  color:#fff;
  margin-top:15px;
  border-radius: 15px;
  position: relative;
  .model_img{
    width:100%;
    border-radius: 15px;
  }
  .img2{
    position: absolute;
    top:50%;
    right:10PX;
    z-index: 2;
    width:126px;
    height:84px;
    margin-top:-42px;
   
  }
  .model_text{
    height:50px;
    line-height: 50px;
    position: absolute;
    top:50%;
    margin-top:-25px;
    left:10PX;
    z-index: 2;
    font-size:32px;
  }
}