
@import '../css/config.less';

.con{
  width:94%;
  margin:0 auto;
  .header{
    padding:16Px 0 16Px 10Px;
    display:flex;
    background:#fff;
    border-radius: 0 0 5Px 5Px;
    .avatar{
      width:3rem;
      height:3rem;
      border-radius: 50%;
      overflow: hidden;
    }
    .name{
      padding-left:10Px;
      .name_n{
        color:#666;
        margin-bottom:4Px;
      }
    }
  }
}
.name_text{
  color:@defaultColor;
}
.detail{
  display:inline-block;
  background:@defaultColor;
  color:#fff;
  padding:2Px 10Px;
  border-radius: 11Px;
  font-size:12Px;
  margin-top:2Px;
}
.detail:active{
  background:@defaultActiveColor;
}
.change-record{
  flex:2;
  display:flex;
  flex-direction:row-reverse;
  padding-top:0.5rem;
  .record{
    width:5rem;
    height:2rem;
    color:#fff;
    background:@defaultColor;
    line-height:2rem;
    padding:0 .7rem 0 1rem;
    border-radius:.8rem 0 0 .8rem;
    font-size:.8rem;
    white-space:nowrap;
    &:active{
      background:@defaultActiveColor;
    }
  }
}


.intexch_seachbox{
	margin-top: 13Px;
	width: 100%;
	height: 40Px;
	border-radius: 20Px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	background-color: #FFFFFF;
}
.intexch_seachbox image{
	width: 40Px;
	height: 25Px;
	margin-top: 7Px;
	margin-left: 10Px;
}
.intexch_seachbox .intexch_seach{
	height: 26Px;
	border: 0;
	width: 100%;
	font-size: 16PX;
	color: #000000;
	padding: 0 8Px;
    margin: 7Px 0;
}
.intexch_seach_btn{
	height: 36Px;
	line-height: 36Px;
	margin-top: 2Px;
	margin-right: 2Px;
	white-space: nowrap;
	padding: 0 15Px;
	background-color: @defaultColor;
	color: #FFFFFF;
	font-size: 15Px;
  border-radius: 18Px;
  
}


.intexchangebtn{
  float: right;
  text-align: center;
  line-height: 30Px;
}
.intexch_productbox{
	width: 100%;
	margin-top: 15Px;
}
.intexch_productul{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.intexch_productli{
	padding: 8Px;
	border-radius: 5Px;
	background-color: #FFFFFF;
	width: 49%;
	margin-bottom: 10Px;
}
.intexch_proimg{
  width:8rem;
  height:8rem;
  margin:0 auto;
  display:block;
}
.intexch_proinfor{
	width: 100%;
	padding: 10Px 0;
	align-items: center;
	display:flex;
  justify-content:space-between;
}
.intexch_proinfor_divL{
	width: 60%;
}
// .intexch_proinfor_divL p{
// 	width: 100%;
// 	word-break: break-all;
// }
.intexch_proinfor_pT{
	font-size: 14Px;
	color: #000000;
}
.intexch_proinfor_pB{
	margin-top: 7Px;
	font-size: 15Px;
	color: @defaultColor;
}
.intexch_proinfor .intexchangebtn{
	width: 50Px;
	min-width: 50Px;
	border: 1Px solid @defaultColor;
	color: @defaultColor;
	font-size: 15Px;
	padding: 0;
  height: 30Px;
  &:active{
    background:rgba(0,0,0,0.2)
  }
} 
.intexch_productul .view-li:nth-child(odd){
	margin-right: 1%;
}
.intexch_productul .view-li:nth-child(even){
	margin-left: 1%;
}
.wrap {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
  
