.exchprodetailsbox {
  width:92%;
  margin:0 auto;
  border-radius:5Px;
  .proimg{
    width:100%;
    display:block;
    border-radius:5Px 5Px 0 0;
    max-height: 600px;
  }
  .exchproname{
    width:100%;
    padding:12Px;
    font-size:16Px;
    background-color:#FFFFFF;
    text-align: center;
  }
}
.goods-info{
  width:100%;
  background:#ffffff;
  margin-top:10PX;
}

.exchdetails_infor{
  width:100%;
  padding:10Px 15Px;
  display:flex;
  justify-content: space-between;
  border-bottom:1px solid #9e9e9e;
}

